run_inference.py

*.pt
__pycache__/
models/__pycache__/
pretrained/
results/
stub_box.zip
stub_box/

*.pyc
models/

cpp_examples/build
cpp_examples/libtorch
cpp_examples/libtorch-shared-with-deps-latest.zip
cpp_examples/wget-log
cpp_examples/stub_box
